<div class="container" ng-controller="AdminController as model">
    <div class="page">
        <div class="breadcrumbs">
            <span>Normal User List</span>
        </div>

        <div class="content">
            <h1></h1>
            <div class="table-responsive">
                <table class="grid table table-striped table-bordered table-sortable">
                    <thead>
                    <tr>
                        <th>
                            User Name
                        </th>
                        <th>
                            Password
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                    </thead>
                    <tbody class="ui-sortable">
                    <tr ng-repeat="user in model.users">
                        <td>{{user.username}}</td>
                        <td>{{user.password}}</td>
                        <td>{{user.email}}</td>
                        <td>
                            <button ng-click="model.deleteUser($index)"
                                    class="btn-xl btn-link glyphicon glyphicon-remove"></button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div> <!-- .container -->