<div class="container" ng-controller="MovieDetailController">
    <div class="page">
        <div class="breadcrumbs">
            <a href="#/home">Home</a>
            <span>{{model.movie.title}}</span>
        </div>

        <div class="content">
            <div class="row">
                <div class="col-md-6">
                    <figure class="movie-poster"><img ng-src="{{model.veriPosterImg(model.movie.image)}}"></figure>
                </div>
                <div class="col-md-6">
                    <h2 class="movie-title">{{model.movie.title}}</h2>
                    <div class="movie-summary">
                        <p>{{model.movie.summary}}</p>
                    </div>

                    <ul class="movie-meta">
                        <li>
                            <button class="btn btn-circle-sm btn-info" ng-show="(!model.likeitem)&&model.islogin()"
                                    ng-click="model.like()"><span class="glyphicon glyphicon-thumbs-up"></span>
                                <span class="label-icon">Like</span>
                            </button>
                            <button class="btn btn-circle-sm btn-info" ng-show="model.likeitem&&model.islogin()"
                                    ng-click="model.unlike()"><span class="glyphicon glyphicon-thumbs-down"></span>
                                <span class="label-icon">Unlike</span>
                            </button>
                        </li>
                        <li><strong>Score:</strong>
                            <div class="star-rating"><span style="width:{{model.roundRate(model.movie.starRating)}}"></span>
                            </div>
                            <label>Rated {{model.movie.starRating}} out of 10</label>
                        </li>
                        <li><strong>Rating: </strong> {{model.movie.rating}} Class</li>
                        <li><strong>Length: </strong> {{model.movie.runtime}} min</li>
                        <li><strong>Premiere: </strong> {{model.movie.date}}</li>
                        <li><strong>Genres: </strong>{{model.movie.genres}}</li>
                    </ul>

                    <ul class="starring">
                        <li><strong>Company: </strong>{{model.movie.companies}}</li>
                        <li><strong>Country: </strong>{{model.movie.countries}}</li>
                        <li ng-show="model.movie.link"><a href="{{model.movie.link}}"><strong>Movie Home
                            Page</strong></a></li>
                    </ul>
                </div>
            </div> <!-- .row -->
            <div class="entry-content" style="blackground:#ff0">
                <div class="row" ng-show="model.islogin()">
                    <div class="col-lg-12">
                        <div class="well">
                            <h4>Leave Comment:</h4>
                            <form role="form">
                                <div class="form-group">
                                <textarea class="form-control coment-textarea" rows="3"
                                          ng-model="model.commenttext"></textarea>
                                </div>
                                <button ng-click="model.addComment()" ng-show="!model.isCommented" type="submit" class="btn btn-info">Add</button>
                                <button ng-click="model.updateComment()" ng-show="model.isCommented" type="submit" class="btn btn-info">Update</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row" ng-repeat="comment in model.commentSet">
                    <div class="col-lg-12">
                        <div class="panel">
                            <div class="panel-heading">
                                <strong>{{comment.username}}</strong>
                                <span class="text-muted">Posted on {{comment.createDate | date: "yyyy-MM-dd"}}</span>
                                <span class="text-muted">Updated on {{comment.updateDate | date: "yyyy-MM-dd"}}</span>
                                <a ng-show="model.authPower(comment.commentedBy)" ng-click="model.deleteComment(comment.commentedBy)">DeleteComment</a>
                            </div>
                            <div class="panel-body">
                                {{comment.text}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>